<!-- Hides the scrollbar - https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll -->

/*  This hides the scrollbar (see top for url) */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
